.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  /*Configuração do layout do título*/
    color: #ffde59;
    /*Cor das letras*/
    -webkit-text-stroke: 2px black;
    /*Borda no título*/
    text-shadow: 4px -4px;
    /*Sombra para impressão 3d*/
    font-family: 'Ruslan Display', cursive;
    /*Alteração na fonte*/
    font-size: 80px;
    /*Tamanho da letra*/
    text-align: center;
    /*Alinhamento do texto no centro da página*/
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
